* {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Menlo;
  font-size: $fontsize-medium;
  height: 100%;
  width: 100%;
}

ul {
  padding-left: 2vw;
  li {
    padding: 0.2vw 0;
  }
}