// Mixin

// Logo.vue
@mixin LogoSize($width, $height, $font-size) {
  #logo {
    font-size: $font-size;
    height: $height;
    line-height: $height;
    text-align: center;
    width: $width;
  }
}

// EntryPoint.vue
@mixin EntryPointSize($width, $height, $border-width, $border-width-hover) {

  .entry-point {

    height: $height;
    margin: 10px;
    padding: 0;
    width: $width;

    .entry-point-container {

      box-sizing: border-box;
      border-width: $border-width;
      height: $height;
      padding: 0;
      width: $width;

      &:hover {
        border-width: $border-width-hover;
        padding: $border-width - $border-width-hover;
      }

    }

    .entry-point-content {
      
      box-sizing: border-box;
      height: $height - 2 * $border-width;
      padding: 10px;
      width: $width - 2 * $border-width;

    }

  }
}
