.page {

  .header-item {

    display: flex;
    justify-content: center;

    border-top: solid 2px $main-color;
    border-bottom: solid 2px $main-color;
    box-sizing: border-box;
    height: 20vh;
    margin: 0 auto;
    width: 80vw;

    .header-text {

      height: 100%;
      width: 60vw;
      color: $main-color;
      font-size: 4vh;
      line-height: 20vh;

    }

  }

  .main-item {

    border-left: solid 4vw $main-color;
    border-right: solid 0.1vw $main-color;
    box-sizing: border-box;
    margin-bottom: 8vh;
    padding: 4vh;

    .headline {
      color: $main-color;
      font-size: $fontsize-large;
      font-weight: $fontweight-bold;
      line-height: $lineheight-large;
    }

    .paragraph {
      font-size: $fontsize-medium;
      font-weight: $fontweight-normal;
      line-height: $lineheight-medium;
    }

  }

  .footer-item {

  }

}