// color

$main-color: #00AAFF;
$main-color-light: #FFFFFF; // TODO:

$base-color-black: #002233; // #333333;
$base-color-white: #FFFFFF; // TODO:

$sub-color-red: #DD99FF;
$sub-color-green: #99FF99;

// width, height

$logo-width: 200px;
$logo-height: 50px;

$menu-width: 200px;
$menu-height: 50px;